@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pad20">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <button type="button" class="list-group-item bga-primary-text" data-toggle="collapse" href="#calendar" aria-expanded="true" aria-controls="calendar"><b>Calendar</b></button>
                <div id="calendar" class="panel-collapse collapse in">
                    <button type="button" class="list-group-item">Month</button>
                    <button type="button" class="list-group-item">Timeline</button>
                    <button type="button" class="list-group-item">Reports</button>
                </div>
                <button type="button" class="list-group-item bga-primary-text" data-toggle="collapse" href="#appointment" aria-expanded="false" aria-controls="appointment"><b>Appointments</b></button>
                <div id="appointment" class="panel-collapse collapse in">
                    <button type="button" class="list-group-item">New</button>
                    <button type="button" class="list-group-item">Search</button>
                    <button type="button" class="list-group-item">Block</button>
                    <button type="button" class="list-group-item">Close</button>
                </div>

                <button type="button" class="list-group-item bga-primary-text" data-toggle="collapse" href="#employee" aria-expanded="true" aria-controls="employee"><b>Employee</b></button>
                <div id="employee" class="panel-collapse collapse in">
                    <button type="button" class="list-group-item">Search</button>
                    <button type="button" class="list-group-item">New</button>
                    <button type="button" class="list-group-item">Browse</button>
                    <button type="button" class="list-group-item">Index</button>
                </div>
                <button type="button" class="list-group-item bga-primary-text" data-toggle="collapse" href="#customer" aria-expanded="false" aria-controls="customer"><b>Customer</b></button>
                <div id="customer" class="panel-collapse collapse in">
                    <button type="button" class="list-group-item">Search</button>
                    <button type="button" class="list-group-item">New</button>
                    <button type="button" class="list-group-item">Browse</button>
                    <button type="button" class="list-group-item">Index</button>
                </div>
                <button type="button" class="list-group-item bga-primary-text" data-toggle="collapse" href="#setup" aria-expanded="false" aria-controls="setup"><b>Setup</b></button>
                <div id="setup" class="panel-collapse collapse in">
                    <button type="button" class="list-group-item">Account Center</button>
                </div>
            </div>
        </div>
        <div class="col-lg-9"></div>
    </div>
</div>
<hr />
<div class="container" style="padding-bottom:20px;">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            &copy; @DateTime.Now.Year.ToString() Copyright Ap.
        </div>
    </div>
</div>